.wrapper {
  p {
    font-size: 14px;
    margin-bottom: 2px;
  }

  input {
    padding: 8px 140px 8px 10px;
    border-radius: 4px;
    border: 1px solid gray;
    outline: none;
    color: gray;
  }
}
