.wrapper {
  background: #F3F3F3;
  
  width: 840px;
  padding: 20px;
  
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.moreUserInfo {
  align-self: flex-end;
}

span {
  color: #A3A3A3;
}