.wrapper {
  background: #f3f3f3;

  width: 840px;
  padding: 20px;

  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.moreUserInfo {
  align-self: flex-end;
}

span {
  color: #a3a3a3;
}
